
<md-card>

  <md-card-title-group>
    <md-card-title>履修科目</md-card-title>
  </md-card-title-group>

  <md-card-content>

    <md-list dense class="subjects">

      <div *ngIf="(subjects | json) == '[]'" class="alert alert-warning" role="alert">
        現在履修している科目はありません。
      </div>
      <md-list-item
        *ngFor="let subject of subjects; let i=index"
        [class.selected]="subject === selectedSubject">
        <md-icon md-list-avatar (click)="onSelectSubject(subject)">school</md-icon>
        <h4 md-line>{{subject.name}}</h4>
        <button (click)="onSelectSubject(subject)" md-raised-button color="primary">詳細</button>
      </md-list-item>
    </md-list>

  </md-card-content>

<div *ngIf="selectedSubject">

  <md-divider></md-divider>

  <h3 md-subheader>「{{selectedSubject.name}}」の課題一覧</h3>

  <div *ngIf="(selectedSubject?.assignments | json) == '[]'" class="alert alert-warning" role="alert">
    提出可能な課題はありません。
  </div>

  <md-card-content>
    <md-list dense class="assignments">
      <md-list-item
        *ngFor="let assignment of selectedSubject.assignments; let i=index"
        [class.selected]="assignment === selectedAssignment">
        <md-icon md-list-avatar (click)="onSelectAssignment(assignment)">folder</md-icon>
        <h4 md-line>課題名：{{assignment.name}}</h4>
        <p md-line>説明：{{assignment.description}}<p>
        <p md-line>締切：{{assignment.deadline | date: "yyyy年MM月dd日 hh時mm分"}}<p>
        <button (click)="onSelectAssignment(assignment)" md-raised-button color="primary">詳細</button>
      </md-list-item>
    </md-list>

    <div *ngIf="selectedSubject && selectedAssignment">

      <div *ngIf="(selectedAssignment?.items | json) == '[]'" class="alert alert-warning" role="alert">
        提出可能な課題はありません。
      </div>

      <md-divider></md-divider>
      <h3 md-subheader>課題「{{selectedAssignment.name}}」の提出フォーム一覧</h3>
      <md-card-content>
        <md-list dense class="assignmentItems">
          <md-list-item
            *ngFor="let assignmentItem of selectedAssignment?.items; let i=index"
            (click)="onSelectAssignmentItem(assignmentItem)"
            [class.selected]="assignmentItem === selectedAssignmentItem">
            <md-icon md-list-avatar>note</md-icon>
            <h4 md-line>提出フォーム名: {{assignmentItem.name}}</h4>
            <p md-line>説明: {{assignmentItem.description}} </p>
            <p md-line *ngIf="!isSubmittedItem(assignmentItem._id)"> 未提出</p>
            <p md-line *ngIf="isSubmittedItem(assignmentItem._id)">サイズ: {{printSubmittedFileSize(assignmentItem._id)}}バイト</p>
            <p md-line *ngIf="isSubmittedItem(assignmentItem._id)">提出日時: {{printSubmittedDate(assignmentItem._id) | date: "yyyy年MM月dd日 hh時mm分"}} </p>
            <input type="file" (change)="fileChangeEvent($event)" placeholder="upload"/>
            <button type="button" (click)="upload()">提出</button>
         </md-list-item>
        </md-list>

      </md-card-content>

    </div>
  </md-card-content>

</div>

</md-card>

