
<md-card *ngIf="subject && assignment === null">

  <h3 md-subheader>{{subject.name}}の課題作成</h3>

  <md-card-content>
    <form #createAssignmentForm="ngForm">
      <md-input-container class="md-block" flex-gt-sm>
        <input mdInput type="text" placeholder="課題名"
          ngModel name="name">
      </md-input-container>
      <md-input-container class="md-block" flex-gt-sm>
        <input mdInput type="text" placeholder="説明"
          ngModel name="description">
      </md-input-container>
      <md-input-container class="md-block" flex-gt-sm>
        <input mdInput type="datetime-local" placeholder="締切"
          ngModel name="deadline">
      </md-input-container>
      <button md-raised-button color="primary" type="submit"
        (click)="createAssignment(subject._id, createAssignmentForm.value)">作成</button>
    </form>

    <div><span>{{ createAssignmentForm.value | json }}</span></div>
    <div><span>{{ createAssignmentForm.deadline | date: "yyyy-MM-ddThh:mm"}}</span></div>

  </md-card-content>
</md-card>

<md-card *ngIf="subject && assignment">
  <h3 md-subheader>課題の更新</h3>

  <md-card-content>
    <form #updateAssignmentForm="ngForm">
      <md-input-container class="md-block" flex-gt-sm>
        <input mdInput type="text" placeholder="課題名"
          [(ngModel)]="assignment.name" name="name">
      </md-input-container>
      <md-input-container class="md-block" flex-gt-sm>
        <input mdInput type="text" placeholder="説明"
          [(ngModel)]="assignment.description" name="description">
      </md-input-container>
      <md-input-container class="md-block" flex-gt-sm>
        <input mdInput type="datetime-local" placeholder="締切"
          [(ngModel)]="assignment.deadline" name="deadline">
      </md-input-container>
    </form>

    <md-checkbox [(ngModel)]="assignment.public">公開</md-checkbox>
    <button md-raised-button color="primary"
      type="submit" [disabled]="submitted"
      (click)="updateAssignment(subject._id, assignment)">更新</button>
    <div><span>{{ assignment | json }}</span></div>
  </md-card-content>

</md-card>