<md-card *ngIf="selectedAssignment">

  <h3 md-subheader>課題「{{selectedAssignment?.name}}」の提出フォーム一覧</h3>

  <md-card-content>

    <div *ngIf="(selectedAssignment?.items | json) == '[]'" class="alert alert-warning" role="alert">
      提出フォームはありません。
    </div>

    <md-list dense class="assignmentItems">
      <md-list-item
        *ngFor="let assignmentItem of selectedAssignment.items"
        (click)="onSelectAssignmentItem(assignmentItem)"
        [class.selected]="assignmentItem === selectedAssignmentItem">
        <md-icon md-list-avatar>note</md-icon>
        <h4 md-line>提出フォーム名: {{assignmentItem.name}}</h4>
        <p md-line>説明: {{assignmentItem.description}} </p>
        <p md-line>保存名: {{assignmentItem.alias}}</p>
      </md-list-item>
    </md-list>
  </md-card-content>

</md-card>