<md-card *ngIf="subject === null">
  <h3 md-subheader>科目の作成</h3>

  <md-card-content>
    <form #createSubjectForm="ngForm">

      <md-input-container class="md-block" flex-gt-sm>
        <input mdInput type="text" placeholder="科目名"
          [(ngModel)]="newSubject.name" name="name">
      </md-input-container>

      <md-input-container class="md-block" flex-gt-sm>
        <input mdInput type="text" placeholder="管理者ID"
          [(ngModel)]="id" name="id" [disabled]="true">
        <span md-suffix>@shibaura-it.ac.jp</span>
      </md-input-container>

      <button md-raised-button color="primary"
        type="submit" [disabled]="submitted"
        (click)="createSubject(newSubject)">作成</button>
    </form>

  </md-card-content>
</md-card>

<md-card *ngIf="subject">
  <h3 md-subheader>科目の更新</h3>

  <md-card-content>
    <form #updateSubjectForm="ngForm">
      <md-input-container class="md-block" flex-gt-sm>
        <input mdInput type="text" placeholder="科目名"
          [(ngModel)]="subject.name" name="name">
      </md-input-container>
    </form>

    <md-select [(ngModel)]="subject.semester">
      <md-option *ngFor="let i of semesterOptions" [value]="i.value">{{i.name}}</md-option>
    </md-select>

    <md-checkbox [(ngModel)]="subject.public">公開</md-checkbox>
    <button md-raised-button color="primary"
      type="submit" [disabled]="submitted"
      (click)="updateSubject(subject)">更新</button>
    <div><span>{{ subject | json }}</span></div>
  </md-card-content>

</md-card>

<!--
<md-card *ngIf="subject">

  <md-card-title-group>
    <md-card-title>TA一覧</md-card-title>
  </md-card-title-group>

</md-card>
-->
<md-card *ngIf="subject">

  <md-card-title-group>
    <md-card-title>担当教員一覧</md-card-title>
  </md-card-title-group>
  <md-card-content>

    <md-list dense class="teachers">
      <md-list-item *ngFor="let teacher of subject.teachers; let i=index">
        <md-icon> face </md-icon><span>{{teacher}}</span>
      </md-list-item>
    </md-list>
    {{subject.teachers | json}}
    <form #updateTeacherForm="ngForm">

      <md-input-container class="md-block" flex-gt-sm>
        <input mdInput type="text" placeholder="教員ID" ngModel name="id">
        <span md-suffix>@shibaura-it.ac.jp</span>
      </md-input-container>

      <button md-raised-button color="primary" type="submit"
        (click)="addTeacher(subject._id, updateTeacherForm.value.id)">追加</button>
      <button md-raised-button color="primary" type="submit"
        (click)="removeTeacher(subject._id, updateTeacherForm.value.id)">削除</button>
    </form>

  </md-card-content>


  <md-card-title-group>
    <md-card-title>受講学生一覧</md-card-title>
  </md-card-title-group>

  <md-card-content>

    <div *ngIf="(subject?.students | json) == '[]'" class="alert alert-warning" role="alert">
      受講している学生はいません。
    </div>

    <md-list dense class="students">
      <md-list-item *ngFor="let student of subject.students; let i=index">
        <md-icon> face </md-icon><span>{{student}}</span>
      </md-list-item>
    </md-list>

    <div><textarea [(ngModel)]="studentsText"></textarea></div>
    <button md-raised-button color="primary" type="submit"
      (click)="updateStudents(subject._id, studentsText)">送信</button>

    <div>{{studentsText | TextToJsonArrayPipe}}</div>

  </md-card-content>

</md-card>
