<md-card>

  <md-card-title-group>
    <md-card-title>ガチの管理者</md-card-title>
    <md-card-subtitle>管理者追加・削除用</md-card-subtitle>
  </md-card-title-group>

  <md-card-content>

    <md-list class="admins">
      <md-list-item *ngFor="let admin of admins; let i=index">
        <md-icon> face </md-icon><span>{{admin.id}}</span>
      </md-list-item>
    </md-list>
  </md-card-content>

   <md-card-actions>
      <form [formGroup]="adminForm">
        <md-input-container class="md-block" flex-gt-sm>
          <input mdInput type="text" placeholder="管理者ID"
            formControlName="id">
          <span md-suffix>@shibaura-it.ac.jp</span>
        </md-input-container>
        <button md-raised-button color="primary" type="submit"
          (click)="addAdmin(adminForm.value.id)">追加</button>
        <button md-raised-button color="primary" type="submit"
          (click)="removeAdmin(adminForm.value.id)">削除</button>
      </form>
   </md-card-actions>

</md-card>

<div><span>{{adminForm.value | json}}</span></div>
